@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Darker+Grotesque:wght@400;500;600;700;800;900&display=swap');


//font-family
$Amarante: 'Amarante', cursive;
$DarkGrotesque: 'Darker Grotesque', sans-serif;


h1 {
    font-family: $Amarante;
    font-size: 5vw;
    font-weight: 100;
    margin: 1vw 0;
    @media screen and (min-width: $layout-breakpoints-medium) {
        font-size: 4.5vw;
    }
    @media screen and (max-width: $layout-breakpoint-xsmall) {
        font-size: 9vw;
        margin: 2vh 0;
    }
}

span {
    font-size: 2rem;
    font-family: $Amarante;
}

p {
    font-size: 0.875rem;
    font-family: $DarkGrotesque;
    font-weight: 800;
}